[submodule "Adafruit-Motor-Shield-library"]
	path = Adafruit-Motor-Shield-library
	url = https://github.com/adafruit/Adafruit-Motor-Shield-library
[submodule "StepperDriver"]
	path = StepperDriver
	url = https://github.com/laurb9/StepperDriver
[submodule "TeensyStep"]
	path = TeensyStep
	url = https://github.com/luni64/TeensyStep
[submodule "car-controller"]
	path = car-controller
	url = https://github.com/jabelone/car-controller
[submodule "MFixedPoint"]
	path = MFixedPoint
	url = https://github.com/gbmhunter/MFixedPoint
[submodule "Adafruit-Motor-Shield-for-Arduino"]
	path = Adafruit-Motor-Shield-for-Arduino
	url = https://github.com/adafruit/Adafruit-Motor-Shield-for-Arduino
[submodule "CheapStepper"]
	path = CheapStepper
	url = https://github.com/tyhenry/CheapStepper
[submodule "ClosedLoopDriver"]
	path = ClosedLoopDriver
	url = https://github.com/neuroprod/ClosedLoopDriver
[submodule "arduino_L298N"]
	path = arduino_L298N
	url = https://github.com/yohendry/arduino_L298N
[submodule "X-PID-Arduino-PID-motor-control"]
	path = X-PID-Arduino-PID-motor-control
	url = https://github.com/X-Sim/X-PID-Arduino-PID-motor-control
[submodule "analizo"]
	path = analizo
	url = https://github.com/analizo/analizo
